{% extends "base.html" %}


{% block content %}
    <h2 class="entry-title">{{ article.title }}</h2>
    <footer class="post-info">
        <time class="published" datetime="{{ article.date.isoformat() }}">
          {{ article.locale_date }}
        </time>
        <div class="category">
            <span class="highlight">Categories:</span> 
                {% for category in article.categories %}
                    {% for cat in category.ancestors %}
                        <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.shortname }}</a>
                        {{ '/' if not loop.last }}
                    {% endfor %}
                    {{ ', ' if not loop.last }}
                {% endfor %}
        </div>
        {% if article.tags %}
        <div class="tags">
            Tags:
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </footer><!-- /.post-info -->
    {% if article.photo_image %}
        <div class="entry-image">
            <img src="{{ SITEURL }}/{{ article.photo_image[1] }}" />
        </div>
        {% endif %}
    {{ article.content }}    

    {% if article.series %}
    <div class="card">
        <p>This post is part {{ article.series.index }} of the "{{ article.series.name }}" series:</p>
        <ol class="parts">
            {% for part_article in article.series.all %}
                <li {% if part_article == article %}class="active"{% endif %}>
                    <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}
{% endblock content %}