/* main style.css */
:root {
    --bg-color: rgb(182, 217, 225);
    --bg-secondary-color: rgb(235, 191, 151);
    --color-primary: #000000;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 88rem;
    --grid-gutter: 2rem;
    --font-size: 2rem;
    --font-color: var(--color-primary);
    --font-family-sans: 'DM Mono', monospace;
    --font-family-mono: 'DM Mono', monospace;
    }

  .hidden {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    clip: rect(1,1,1,1);
  }

  body{
    padding: 20px;
    background: radial-gradient(circle at calc(-50% + 50%) calc(-50% + 50%), 
                                rgb(182, 217, 225) 0%, 
                                rgba(182, 217, 225, 0) 60%), 
                                  radial-gradient(circle at calc(50% + 50%) calc(-50% + 50%), 
                                    rgb(172, 193, 200) 0%, 
                                    rgba(172, 193, 200, 0) 60%), 
                                    radial-gradient(circle at calc(50% + 50%) calc(50% + 50%), 
                                        rgb(235, 191, 151) 0%, rgba(235, 191, 151, 0) 60%), 
                                    radial-gradient(circle at calc(-50% + 50%) calc(50% + 50%), 
                                      rgb(252, 240, 217) 0%, 
                                      rgba(252, 240, 217, 0) 60%);
    background-attachment: fixed;                                      
  }

  body.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }

  body.homepage main {
    flex: 0 1 auto;
    align-self: center;
  }

  img {
    height: auto;
  }

  ul {
    
  }

  hr {
    background: var(--color-primary);
  }

  a {
    text-decoration:  underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: .07em;
    text-underline-offset: 2.2px;
    text-decoration-style: dotted;
  }

  .shadow {
    background: #fefefe;
    border: 2px solid;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 1px currentColor, 0 2px currentColor, 0 3px currentColor, 0 4px currentColor, 0 5px currentColor, 0 6px currentColor;
    padding: 80px;
  }

  .site-header {
    padding: 8px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  @media(max-width: 767px) {
    .site-header {
      flex-wrap: wrap;
    }
  }

  .site-title {
    margin: 0;
    font-size: 2.4rem;
  }

  .navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  .navigation li {
    padding: 0 32px 0 0;
  }

  .navigation li:first-child {
    padding-left: 0;
  }

  .navigation li:last-child {
    padding-right: 0;
  }


  .container {
      margin: 80px auto;
  }

  .page > section {
    margin-bottom: calc( 2 * var(--grid-gutter) );
  }

  .hentry.category-blog {
    border-bottom: 1px dotted var(--color-primary);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .hentry  h2 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: -0.2px;
    font-weight: normal;
  }

  .hentry.category-photos h2 {
    font-size: 1.6rem;
  }

  .hentry time {
    
    margin-bottom: 0;
  }

  .post-info {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px dotted var(--color-primary);
  }
  
  .homepage-photos section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .homepage-photos article {
    flex: 0 30% auto;
    width: 33%;
    display: inline-flex;
  }

  .homepage-photos article a {
    line-height: 0;
    display: inline-block;
    filter: grayscale(0.8);
    transition: all 0.5s fade;
  }

  .homepage-photos article a:hover,
  .homepage-photos article a:focus {
    filter:grayscale(0);
    opacity: 1;
    transition: all 0.5s fade;
  }

  .homepage-photos article img {
    width: 100%;
    max-width: 100%;
    margin: 0;

  }


  .site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 40px;
  }

  .social-icons ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .social-icons a {
    
  }
  .social-icons li {
    padding: 0 6px;
  }
  .social-icons svg {
    fill: var(--color-primary);
  }