/* main style.css */
:root {
    --bg-color: #554994;
    --bg-secondary-color: #554994;
    --color-primary: #ffccb3;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 88rem;
    --grid-gutter: 2rem;
    --font-size: 2rem;
    --font-color: var(--color-primary);
    --font-family-sans: 'DM Mono', monospace;
    --font-family-mono: 'DM Mono', monospace;
    }

  .hidden {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    clip: rect(1,1,1,1);
  }

  body{
    padding: 20px;
  }

  body.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }

  body.homepage main {
    flex: 0 1 auto;
    align-self: center;
  }

  img {
    height: auto;
  }

  ul {
    
  }

  hr {
    background: var(--color-primary);
  }

  a {
    text-decoration:  underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: .07em;
    text-underline-offset: 2.2px;
    text-decoration-style: dotted;
  }

  .shadow {
    box-shadow: var(--color-primary) 0px 0px 0px 2px inset, 
                var(--bg-color) 5px 5px 0px -1px,
                var(--color-primary) 5px 5px 0px 1px;
    padding: 30px;
  }

  .site-header {
    padding: 8px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  @media(max-width: 767px) {
    .site-header {
      flex-wrap: wrap;
    }
  }

  .site-title {
    margin: 0;
    font-size: 2.4rem;
  }

  .navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  .navigation li {
    padding: 0 32px 0 0;
  }

  .navigation li:first-child {
    padding-left: 0;
  }

  .navigation li:last-child {
    padding-right: 0;
  }


  .container {
      margin: 80px auto;
  }

  .page > section {
    margin-bottom: calc( 2 * var(--grid-gutter) );
  }

  .hentry.category-blog {
    border-bottom: 1px dotted var(--color-primary)
  }

  .hentry  h2 {
    margin-bottom: 0;
  }

  .hentry.category-photos h2 {
    font-size: 1.6rem;
  }

  .hentry time {
    display: block;
    margin-bottom: calc( var(--grid-gutter) / 2 );
  }

  .post-info {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px dotted var(--color-primary);
  }
  
  .homepage-photos section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .homepage-photos article {
    flex: 0 30% auto;
    width: 33%;
    display: inline-flex;
  }

  .homepage-photos article a {
    line-height: 0;
    display: inline-block;
    filter: grayscale(0.8);
    transition: all 0.5s fade;
  }

  .homepage-photos article a:hover,
  .homepage-photos article a:focus {
    filter:grayscale(0);
    opacity: 1;
    transition: all 0.5s fade;
  }

  .homepage-photos article img {
    width: 100%;
    max-width: 100%;
    margin: 0;

  }


  .site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 40px;
  }

  .social-icons ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .social-icons a {
    padding: 10px;
  }